.faq {
  display: flex;
  flex-direction: column;
  .accordions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > div {
      width: 50%;
      min-width: 400px;
    }
    .single-accordion-container {
      display: flex;
      flex-direction: column;
      margin: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .accordion {
        display: flex;
        height: 7vh;
        cursor: pointer;
        background-color: #21212e;
        .question-container {
          display: flex;
          width: 85%;
          align-items: center;
          padding-left: 20px;
        }
        .accordion-icon-container {
          width: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #262634;
          height: 100%;

          img {
            width: 29%;
            height: 40%;
          }
        }
      }
      .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        padding: 0px 20px;
        text-align: justify;
      }
    }
  }
}
