.features {
  flex-direction: column;
  position: relative;
  &:after {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 2%;
    transform: translate(0, 100%);
    background: url("../images/features-square.svg") no-repeat;
    background-size: contain;
  }
  .features-first-row {
    display: flex;
    flex-direction: column;
    .left-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px 20px;
      .features-green {
        align-self: flex-start;
        background-color: #1e3639;
        color: #00ec98;
        width: 150px;
        padding: 10px;
        text-align: center;
      }
      h2 {
        margin-top: 10px;
        align-self: flex-start;
      }
      p {
        text-align: justify;
      }
      button {
        margin-top: 20px;
        width: 50%;
        height: 50px;
      }
    }
    .right-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .features-card {
        width: 100%;
        max-width: 250px;
        padding: 50px 0px;
        margin: 20px;
        .feature-card--icon-container {
          background-color: #39394d;
          padding: 5px 0px;
          img {
            width: 50px;
            height: 50px;
            margin-left: 20px;
          }
        }
        .feature-card--text-container {
          margin: 0px 20px;
          text-align: justify;
        }
        &:nth-of-type(even) {
          align-self: flex-end;
        }
      }
      .cards-column-left,
      .cards-column-right {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .features-second-row {
    display: flex;
    height: 90vh;
    align-items: center;
    margin-top: 150px;
    .left-column {
      width: 50%;
      height: 100%;
      .appliances-main {
        position: relative;
        width: 70%;
        height: 100%;
        .front {
          position: absolute;
          display: flex;
          top: 10%;
          left: -15%;
          z-index: 1;
          align-items: flex-end;
          width: 150%;
          .appliances-info {
            background-color: #20202c;
            box-shadow: 0 0 23px rgba(0, 0, 0, 0.54);
            border-radius: 8px;

            &.on {
              padding-left: 20px;
              background: url("../images/lightbulb-background.svg") no-repeat;
              background-color: #20202c;
              background-position: right;
              margin-right: 30px;
              .state-message {
                font-size: 20px;
                color: white;
                margin-bottom: 10px;
              }
              p {
                &:last-of-type {
                  font-size: 10px;
                }
              }
              .row {
                position: relative;
                display: flex;
                z-index: 1;
                overflow: hidden;
                div {
                  .on-number {
                    color: white;
                    font-size: 15px;
                    font-weight: bold;
                  }
                  .on-name {
                    color: white;
                    margin-bottom: 0;
                  }
                  .on-time {
                    margin-top: 0;
                    font-size: 10px;
                  }

                  flex-grow: 1;
                }
              }
            }
            &.total {
              height: 250px;
              width: 250px;
              .card-title {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                background-color: #39394d;
                color: white;
                height: 15%;
              }
              .chart {
                height: 70%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: url("../images/chart.svg") no-repeat;
                background-position: center;
                background-size: contain;
                p {
                  &.number {
                    font-size: 30px;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
        .back {
          box-shadow: 0 0 23px rgba(0, 0, 0, 0.54);
          width: 100%;
          height: 100%;
          border-radius: 8px;
          .top {
            display: flex;
            background-image: linear-gradient(-47deg, #bd11fa 0%, #46c2ff 100%);
            justify-content: space-around;
            height: 30%;
            margin: 0;
            .welcome-message {
              margin-top: 20px;
              p {
                color: white;
                margin: 0;
                &:first-of-type {
                  font-weight: bold;
                  font-size: 30px;
                }
              }
            }
            .hour {
              margin-top: 20px;
              p {
                color: white;
                margin: 0;
                &:first-of-type {
                  font-size: 30px;
                }
                &.colored {
                  color: #090d17;
                }
              }
            }
          }
          .bottom {
            height: 70%;
            display: flex;
            flex-direction: column;
            .empty-div {
              height: 30%;
            }
            .text-container {
              display: flex;
              justify-content: space-between;
              padding: 0px 10px;
              height: 10%;
              p:last-of-type {
                color: purple;
              }
            }
            .appliance-card-container {
              height: 60%;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              // border: 1px solid white;
              .appliance-card {
                border-radius: 8px;
                height: 80%;
                width: 50%;
                &:first-of-type {
                  align-self: flex-start;
                }
                &:last-of-type {
                }
                box-shadow: 0 0 23px rgba(0, 0, 0, 0.54);
                margin: 10px;
                width: 200px;
                .icons-container {
                  position: relative;
                  display: flex;
                  justify-content: space-between;
                  height: 33%;
                  img {
                    width: 30%;
                    margin-left: 20px;
                    &:last-of-type {
                      position: absolute;
                      height: 50%;
                      right: 0;
                      top: 0;
                      width: 30%;
                    }
                  }
                }
                .appliance-name {
                  padding: 3px 15px;
                  background-color: #262634;
                  height: 33%;
                  p:first-of-type {
                    color: white;
                    font-size: 1.3rem;
                    margin: 0;
                  }
                  p:last-of-type {
                    margin-top: 0;
                  }
                }
                .switch-button {
                  height: 33%;
                  padding: 20px;
                  img {
                    height: 30px;
                    width: 30px;
                    margin-bottom: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .right-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      .features-green {
        background-color: #1e3639;
        color: #00ec98;
        width: 150px;
        padding: 10px;
        text-align: center;
      }
      p {
        width: 80%;
        text-align: justify;
      }
      button {
        margin-top: 20px;
        width: 50%;
        height: 50px;
      }
    }
  }
}

@media (min-width: 576px) {
  .features {
    &:after {
    }
    .features-first-row {
      .left-column {
        justify-content: flex-start;
        align-items: flex-start;
        p {
          max-width: 70%;
        }
        button {
          max-width: 200px;
        }
      }
      .right-column {
        flex-direction: row;
        .features-card {
          align-self: center;
          &:nth-of-type(even) {
            align-self: center;
          }
        }
        .cards-column-left,
        .cards-column-right {
          display: flex;
          flex-direction: column;
        }
        .cards-column-left {
          margin-right: 50px;
          padding-bottom: 100px;
        }
        .cards-column-right {
          padding-top: 100px;
        }
      }
    }
    // .features-second-row{

    // }
  }
}
@media (min-width: 992px) {
  .features {
    &:after {
    }
    .features-first-row {
      flex-direction: row;
      .left-column {
        justify-content: center;
        width: 40%;
      }
      .right-column {
        flex-direction: row;
        width: 60%;
        .features-card {
          max-width: 250px;
        }
        .cards-column-left,
        .cards-column-right {
          display: flex;
          flex-direction: column;
        }
        .cards-column-left {
          margin-right: 0;
          padding-bottom: 100px;
        }
        .cards-column-right {
          padding-top: 100px;
        }
      }
    }
    // .features-second-row{

    // }
  }
}
