@import "./navbar.scss";
@import "./hero.scss";
@import "./partners.scss";
@import "./features.scss";
@import "./pricing.scss";
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
$txt-dark: #66667e;

body {
  background-color: #21212e;
  font-family: "Muli", sans-serif;
  margin: 0;
  overflow-x: hidden;
}
.txt--dark{
  color: $txt-dark;
}
.with-shadow{
  box-shadow:  0 0 23px rgba(0, 0, 0, 0.54);
}
.border--rounded{
  border-radius: 1%;
}
.section-title-container{
  text-align: center;
  margin: 50px 0px;
   .section-subtitle{
    margin: 0;
  }
}
button {
  border-radius: 8px;
  color: white;
  font-family: "Muli";
  border: 2px solid #ffffff;
  background-color: transparent;
  &.colored {
    background-image: linear-gradient(-66deg, #bd11fa 0%, #46c2ff 100%);
    border: none;
  }
}
.section {
  margin-top: 100px;
  color: white;
  display: flex;
  padding: 0px 100px;
  min-height: 80vh;
  &.hero {
    margin-top: 0px;
    padding: 0px;
  }
}
